<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title>Vue Hello by Christian Pucci</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>

    <div id = "root">
    <h1>Questo è il messaggio: {{message}}</h1>
    <input v-model="message">
    <!-- con v-bind in forma contratta inseriamo l'attributo src per far comparire un img  -->
    <img :src="image">
    <h3 v-model="imgtitle">Immagine scelta: {{imgtitle}} </h3>
    <button @click="changeimg">Cambia immagine</button>
    </div>


    <script type="text/javascript" src="js/script.js">
    </script>

  </body>

</html>
